:root {
  --oui-font-family: 'IBM Plex Sans', sans-serif;
  --trading-disabled-text: "Trading Disabled";

  /* colors */
  --oui-color-primary: 255 186 0;
  --oui-color-primary-light: 255 204 51;
  --oui-color-primary-darken: 204 149 0;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 186 0;
  --oui-color-link-light: 255 204 51;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 136 141 153;
  --oui-color-quaternary: 94 99 108;

  --oui-color-danger: 234 57 67;
  --oui-color-danger-light: 255 102 102;
  --oui-color-danger-darken: 239 69 74;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 255 209 70;
  --oui-color-success-light: 255 220 100;
  --oui-color-success-darken: 255 190 40;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 159 67;
  --oui-color-warning-light: 255 183 111;
  --oui-color-warning-darken: 230 130 50;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 44 48 58;
  --oui-color-fill-active: 54 58 68;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 69 64 94;
  --oui-color-base-3: 54 50 68;
  --oui-color-base-4: 44 48 58;
  --oui-color-base-5: 38 41 50;
  --oui-color-base-6: 32 34 42;
  --oui-color-base-7: 76 79 90;
  --oui-color-base-8: 24 26 32;
  --oui-color-base-9: 16 18 24;
  --oui-color-base-10: 8 10 16;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 204 51;

  --oui-color-trading-loss: 234 57 67;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 255 209 70;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 255 204 51;
  --oui-gradient-primary-end: 255 186 0;

  --oui-gradient-secondary-start: 255 204 51;
  --oui-gradient-secondary-end: 204 149 0;

  --oui-gradient-success-start: 255 220 100;
  --oui-gradient-success-end: 255 209 70;

  --oui-gradient-danger-start: 239 69 74;
  --oui-gradient-danger-end: 234 57 67;

  --oui-gradient-brand-start: 255 204 51;
  --oui-gradient-brand-end: 255 186 0;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 183 111;
  --oui-gradient-warning-end: 255 159 67;

  --oui-gradient-neutral-start: 34 36 44;
  --oui-gradient-neutral-end: 44 48 58;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 15.5px !important;
}